@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

.header{
    min-height: 100vh;
    padding: 50px;
    background: #f1f2f6;
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(210,210,210,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.headNav{
    padding-top: 15px;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headNav ul{
    display: flex;
    justify-items: center;
    border-bottom: 4px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to right, #0000FF,#FF00FF);
}

.headNav ul li{
    padding: 0 50px 10px 50px;
    list-style: none;
    font-size: 1em;
}

.headNav ul li a{
    color: #000;
    text-decoration: 0;
    transition: 0.3s;
}

.headNav ul li a:hover{
    color: #7600FF;
}

.header .headings h1{
    text-align: center;
    color: #7600FF;
    background-image:linear-gradient(90deg,#0000FF,#FF00FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5.5em;
}

.header .headings h3{
    text-align: center;
    color: #000;
    font-size: 2em;
}

.down{
    position: relative;
    top:-100px;
    margin-bottom: -50px;
    font-size: 30px;
    text-align: center;
    animation-name: downArrow;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

@keyframes downArrow {
    0%   {top: -100px;}
    50%  {top: -75px;}
    100% {top: -100px;}
}

.down p a{
    color: #000;
    text-decoration: none;
    transition: 0.3s;
}

.down p a:hover{
    color: #7600FF;
}

section{
    padding: 50px 30px 50px 30px;
    max-width: 1400px;
    margin: 0 auto 0 auto;
}

section h1:first-of-type{
    text-align: center;
    font-size: 2em;
    padding: 0 15px 0 15px;
    margin-bottom: 30px;
    border-bottom: 4px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to right, #0000FF,#FF00FF);
}

.card{
    background-color: #f1f2f6;
    border-radius: 10px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

.slogan{
    text-align: center;
    font-size: 1.2em;
    color: #7600FF;
    background-image:linear-gradient(90deg,#0000FF,#FF00FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 15px;
}

.link{
    color: #000;
    text-decoration: underline;
}

.link:hover{
    color:#7600FF
}



@media screen and (max-width: 600px) {

    .header{
        padding: 25px;
    }

    .header .headings h1{
        font-size: 3em;
    }
    
    .header .headings h3{
        font-size: 1em;
    }

    .headNav ul li{
        padding: 0 15px 10px 15px;
    }

    section{
        padding: 40px 20px 40px 20px;
    }

}